.register_button:hover {
  background-color: black !important;
  color: white !important;
}
@media all and (max-width: 1024px) {
  .regiter_box {
    width: 40vw !important;
  }
}
@media all and (max-width: 768px) {
  .register_image {
    display: none !important;
  }
  .regiter_box {
    width: 50vw !important;
    margin-left: 180px !important;
  }
  .login_button {
    width: 38vw !important;
  }
  .register_button {
    width: 38vw !important;
  }
  .active_box {
    width: 55vw !important;
    height: 35vw !important;
  }
}

@media all and (max-width: 425px) {
  .regiter_box {
    width: 70vw !important;
    margin-left: 50px !important;
  }
  .login_button {
    width: 53vw !important;
    font-size: 11px !important;
  }
  .register_button {
    width: 53vw !important;
    font-size: 11px !important;
  }
  .typogra {
    font-size: 19px !important;
  }
  .active_box {
    width: 68vw !important;
    height: 60vw !important;
  }
  .typa_active {
    font-size: 13px !important;
  }
  .active {
    margin-left: 70px !important;
  }
  .active_button {
    width: 36vw !important;
  }
}

@media all and (max-width: 375px) {
  .regiter_box {
    width: 70vw !important;
    margin-left: 30px !important;
  }
}
