.player_box {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.about_us_container {
  margin-bottom: 40px;
  padding-top: 28px;
  margin-left: 10%;
  margin-right: 12%;
}
.about_us_title {
  font-size: 60px;
}
.about_us_desc {
  font-size: 25px;
  min-width: 620px;
  line-height: 26px;
}
.company-info {
  display: flex;
  margin-left: 10%;
  margin-top: 4%;
}
.company-info_desc {
  font-size: 22px;
}
.company-info_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  margin-left: 13%;
  margin-right: 16%;
}

.company-info_item {
  width: 300px;
  height: 200px;
  background: #efefca;
  margin: 15px;
  border-radius: 1rem;
  margin-left: 1%;
  padding: 25px;
  font-size: 20px;
}
.copmany-info_subtitle {
  display: block;
  font-size: 58px;
  line-height: 2;
}
.copmany-info_subtitle:hover {
  font-size: 62px;
}

.company_blog {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #242424;
  border-radius: 1rem;
  margin-left: 10%;
  margin-right: 12%;
}
.company_blog_header {
  font-size: 50px;
  color: white;
  margin-right: 35%;
  margin-top: 5%;
  margin-left: 5%;
}
.company-blog1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly !important;
}
.black_box {
  width: 500px;
  height: 300px;
  background-color: #242424;
  border-radius: 1rem;
  margin-left: 5%;
  margin-bottom: 5px;
  color: white;
  font-size: 30px;
}
.black_box:hover {
  width: 502px;
  height: 302px;
}
.white_box {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 1rem;
  margin-left: 5%;
  margin-bottom: 5px;
  display: flex;
}
.white_box:hover {
  width: 502px;
  height: 302px;
}
.small-comtent {
  font-size: 10px;
  margin: 120px 20px;
}
.large-content {
  font-size: 20px;
  margin: 115px 20px;
}
.black_box > img {
  border-radius: 1rem;
  height: 300px;
}
.white_box_bottom {
  width: 1100px;
  height: 300px;
  background-color: white;
  border-radius: 1rem;
  margin-left: 6%;
  margin-right: 1%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}
.white_box_bottom:hover {
  width: 1102px;
  height: 302px;
}
.large_content_bottom {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 15%;
  margin-top: 115px;
}
.small_content_bottom {
  font-size: 10px;
  margin-left: 20px;
  margin-right: 20%;
  margin-top: 120px;
}
.white_box_img {
  width: 150px;
  height: 200px;
  margin: 5%;
}
.company-blog_bottom {
  display: flex;
  justify-content: space-between;
  margin: 10% 10%;
}
.company-blog_bottom_header {
  color: white;
  font-size: 45px;
}
.company-blog_bottom_content {
  color: white;
  font-size: 21px;
}
.company-blog_bottom__img {
  margin-left: 10%;
}
.carousel_img {
  max-width: 80%;
  height: auto;
  border-radius: 1rem;
}
.carousel_box_header {
  font-size: 48px;
  margin: 5% 25% 5% 10%;
}
.carousel_box {
  display: block;
  text-align: center;
  margin-top: 3%;
}
@media all and (max-width: 1274px) {
  .company-info_list {
    margin-left: 18%;
    margin-right: 20%;
  }
}
@media all and (max-width: 1218px) {
  .company-info {
    display: flex;
    flex-direction: column;
  }
  .company-info_list {
    margin-left: 5%;
  }
}
@media all and (max-width: 1189px) {
  .company-blog_bottom__img {
    margin-left: 0%;
  }
}
@media all and (max-width: 1134px) {
  .company-blog_bottom {
    display: flex;
    flex-direction: column;
  }
  .company-blog_bottom__img {
    margin: 0px 20%;
  }
  .carousel_box_header {
    font-size: 34px !important;
    min-width: 500px;
  }
}
@media all and (max-width: 1134px) {
  .company-blog_bottom {
    display: flex;
    flex-direction: column;
  }
  .company-blog_bottom__img {
    margin: 0px 20%;
  }
  .carousel_box_header {
    font-size: 34px !important;
    min-width: 500px;
  }
}
@media all and (max-width: 855px) {
  .large_content_bottom {
    font-size: 18px;
    margin-left: 40px;
    margin-right: 10%;
    margin-top: 50px;
  }
  .small_content_bottom {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 7%;
    margin-top: 70px;
  }
}
@media all and (max-width: 698px) {
  .about_us_title {
    font-size: 40px;
  }
  .about_us_desc {
    font-size: 20px;
    min-width: 400px;
  }
  .player1 {
    width: 450px !important;
  }
  .company-info_desc {
    font-size: 19px;
    width: 470px;
  }
  .company_info_blog {
    width: 400px;
  }
  .company-info_item {
    width: 150px;
  }
  .copmany-info_subtitle {
    font-size: 45px;
  }
  .company_blog {
    width: 500px;
  }
  .white_box {
    width: 430px;
    height: 200px;
  }
  .white_box_img {
    width: 90px;
    height: 150px;
    margin: 5%;
  }
  .company-blog_bottom_header {
    font-size: 35px;
  }
  .company-blog_bottom_content {
    font-size: 17px;
  }
  .company-blog_bottom__img {
    width: 350px;
    margin: 0px;
  }
  .carousel_box_header {
    font-size: 27px !important;
    min-width: 500px;
  }
  .carousel_img {
    width: 450px !important;
    height: 250px !important;
    margin-left: 0% !important;
  }
  .swiper-wrapper {
    width: 500px !important;
  }
  .large-content {
    margin: 50px 20px;
    font-size: 18px;
  }
  .small-comtent {
    margin: 70px 20px;
  }
  .img_blue {
    width: 430px;
  }
  .white_box_bottom {
    width: 450px;
  }
  .company-info_list {
    margin-left: 0%;
    padding-left: 0px;
  }
  .company_blog_header {
    font-size: 40px;
  }
  .black_box_text {
    font-size: 35px;
  }
}
@media all and (max-width: 567px) {
  .about_us_title {
    font-size: 35px;
  }
  .about_us_desc {
    font-size: 16px;
  }
  .player1 {
    width: 400px !important;
    height: 300px !important;
  }
  .company-info_desc {
    font-size: 16px;
    width: 350px;
  }
  .company_info_blog {
    width: 350px;
  }
  .company-info_item {
    width: 120px;
  }
  .copmany-info_subtitle {
    font-size: 35px;
  }
  .company_blog {
    width: 420px;
  }
  .company_blog_header {
    font-size: 32px;
  }
  .black_box_text {
    font-size: 30px;
  }
  .black_box {
    width: 400px;
    height: 200px;
  }
  .white_box {
    width: 350px;
    margin-left: 0px;
  }
  .white_box_img {
    width: 60px;
    height: 100px;
    margin: 5%;
  }
  .company-blog_bottom_header {
    font-size: 30px;
  }
  .company-blog_bottom_content {
    font-size: 15px;
  }
  .company-blog_bottom__img {
    width: 350px;
    margin: 0px;
  }
  .carousel_box_header {
    font-size: 23px !important;
    min-width: 400px;
  }
  .carousel_img {
    width: 400px !important;
    height: 230px !important;
  }
  .swiper-wrapper {
    width: 400px !important;
  }
  .img_blue {
    width: 370px;
    height: 200px !important;
  }
  .white_box_bottom {
    width: 400px;
    margin-left: 0px;
  }
}
@media all and (max-width: 525px) {
  .company_info_blog {
    width: 300px;
  }
  .company-info_item {
    width: 100px;
    height: 100px;
  }
  .copmany-info_subtitle {
    font-size: 27px;
  }
  .company_blog {
    width: 400px;
  }
  .large_content_bottom {
    margin: 50px 20px;
    font-size: 16px;
  }
  .small-comtent {
    margin: 70px 20px;
  }
  .company_blog_header {
    font-size: 29px;
  }
  .black_box_text {
    font-size: 27px;
    width: 300px;
  }
  .black_box {
    width: 400px;
    height: 200px;
  }
  .company-blog_bottom_header {
    font-size: 27px;
  }
  .company-blog_bottom_content {
    font-size: 13px;
    width: 300px;
  }
  .carousel_box_header {
    font-size: 23px !important;
    min-width: 400px;
  }
}
@media all and (max-width: 509px) {
  .company_info_blog {
    width: 270px;
  }
  .company-info_item {
    width: 90px;
    height: 90px;
    font-size: 17px;
  }
  .copmany-info_subtitle {
    font-size: 20px;
  }
}
@media all and (max-width: 460px) {
  .about_us_title {
    font-size: 30px;
  }
  .about_us_desc {
    font-size: 14px;
    line-height: 18px;
  }
  .about_us_container {
    margin-left: 7%;
    margin-right: 8%;
  }
  .player1 {
    width: 300px !important;
    height: 200px !important;
  }
  .company-info_desc {
    font-size: 14px;
    width: 300px;
  }
  .company_info_blog {
    width: 250px;
  }
  .company-info_item {
    width: 70px;
    height: 70px;
    font-size: 12px;
    padding: 15px;
  }
  .copmany-info_subtitle {
    font-size: 18px;
  }
  .company_blog {
    width: 370px;
  }
  .company_blog_header {
    font-size: 29px;
  }
  .black_box_text {
    font-size: 28px;
  }
  .white_box {
    width: 300px;
  }
  .white_box_img {
    width: 60px;
    height: 100px;
    margin: 5%;
  }
  .large_content_bottom {
    font-size: 14px;
    margin-left: 60px;
  }
  .small_content_bottom {
    font-size: 10px;
  }
  .company-blog_bottom_header {
    font-size: 28px;
  }
  .company-blog_bottom_content {
    font-size: 15px;
  }
  .company-blog_bottom__img {
    width: 300px;
  }
  .carousel_box_header {
    font-size: 20px !important;
    min-width: 300px;
  }
  .carousel_img {
    width: 300px !important;
    height: 200px !important;
  }
  .swiper-wrapper {
    width: 340px !important;
  }
  .img_blue {
    width: 370px;
    height: 200px !important;
  }
  .white_box_bottom {
    width: 300px;
  }
}
@media all and (max-width: 435px) {
  .about_us_desc {
    display: none;
  }
  .about_us_container {
    margin-left: 5%;
  }
  .company_blog {
    width: 320px;
  }
  .company_blog_header {
    font-size: 24px;
  }
  .black_box_text {
    font-size: 22px;
    width: 250px;
  }
  .white_box {
    width: 300px;
    height: 150px;
  }
  .white_box_img {
    width: 40px;
    height: 70px;
    margin: 3%;
  }
  .large_content_bottom {
    font-size: 14px;
    margin-left: 60px;
  }
  .small_content_bottom {
    font-size: 10px;
  }
  .company-blog_bottom_header {
    font-size: 24px;
  }
  .company-blog_bottom_content {
    font-size: 13px;
  }
  .company-blog_bottom__img {
    width: 280px;
  }
  .large-content {
    margin: 30px 10px;
    font-size: 16px;
  }
  .small-comtent {
    margin: 50px 20px;
  }
  .img_blue {
    width: 280px;
    height: 180px !important;
  }
  .white_box_bottom {
    height: 200px;
  }
}
@media all and (max-width: 371px) {
  .company_blog {
    width: 290px;
  }
  .company_blog_header {
    font-size: 22px;
  }
  .black_box_text {
    font-size: 20px;
    width: 220px;
  }
  .white_box {
    width: 250px;
    height: 150px;
  }
  .large_content_bottom {
    font-size: 14px;
    margin-left: 60px;
  }
  .small_content_bottom {
    font-size: 10px;
  }
  .company-blog_bottom_header {
    font-size: 22px;
  }
  .company-blog_bottom_content {
    width: 250px;
  }
  .company-blog_bottom__img {
    width: 250px;
  }
  .carousel_box_header {
    font-size: 18px !important;
    min-width: 300px;
  }
  .img_blue {
    width: 250px;
  }
  .white_box_bottom {
    width: 280px;
  }
  .carousel_img {
    width: 280px !important;
    height: 180px !important;
  }
  .swiper-wrapper {
    width: 300px !important;
  }
}
@media all and (max-width: 336px) {
  .company-info_desc {
    font-size: 12px;
    width: 280px;
  }
  .company_info_blog {
    width: 230px;
  }
  .company-info_item {
    width: 50px;
    height: 50px;
    font-size: 10px;
    padding: 15px;
  }
  .copmany-info_subtitle {
    font-size: 16px;
  }
  .player1 {
    width: 250px !important;
    height: 200px !important;
  }
  .company_blog {
    width: 260px;
  }
  .company-blog_bottom__img {
    width: 230px;
  }
  .carousel_box_header {
    font-size: 16px !important;
    min-width: 250px;
  }
  .carousel_img {
    width: 250px !important;
    height: 150px !important;
  }
  .swiper-wrapper {
    width: 280px !important;
  }
}
