@media all and (max-width: 1405px) {
  .pch_image_blog {
    width: 600px;
  }
  .pch_image_blog > img {
    width: 400px;
  }
  .pch_blog {
    height: 470px !important;
  }
}
@media all and (max-width: 1190px) {
  .pch_image_blog {
    width: 500px;
  }
  .pch_image_blog > img {
    width: 300px;
  }
  .pch_image_blog > h1 {
    font-size: 28px !important;
  }
}

@media all and (max-width: 972px) {
  .pch_image_blog {
    width: 450px;
  }
  .pch_image_blog > img {
    width: 300px;
  }
  .pch_image_blog > h1 {
    font-size: 26px !important;
  }
  .pch_blog {
    width: 270px !important;
  }
  .pch_input {
    width: 230px !important;
  }
  .pch_button {
    width: 130px !important;
  }
  .pch_login_button {
    width: 200px !important;
    font-size: 11px !important;
  }
}
@media all and (max-width: 761px) {
  .password_change_content {
    flex-wrap: wrap-reverse !important;
  }
  .pch_image_blog {
    width: 550px !important;
    margin-left: 100px !important;
  }
  .pch_image_blog > img {
    width: 350px;
  }
  .pch_image_blog > h1 {
    font-size: 26px !important;
  }
  .pch_blog {
    width: 400px !important;
  }
  .pch_blog > h2 {
    font-size: 22px;
  }
  .pch_input {
    width: 300px !important;
  }
  .pch_button {
    width: 130px !important;
  }
  .pch_login_button {
    width: 200px !important;
    font-size: 11px !important;
  }
}
@media all and (max-width: 528px) {
  .pch_image_blog {
    width: 400px !important;
    margin-left: 50px !important;
  }
  .pch_image_blog > img {
    width: 250px;
  }
  .pch_image_blog > h1 {
    font-size: 24px !important;
  }
  .pch_blog {
    width: 300px !important;
  }
  .pch_blog > h2 {
    font-size: 20px;
  }
  .pch_input {
    width: 250px !important;
  }
}
@media all and (max-width: 442px) {
  .pch_image_blog {
    width: 350px !important;
    margin-left: 30px !important;
  }
  .pch_image_blog > img {
    width: 200px;
  }
  .pch_image_blog > h1 {
    font-size: 22px !important;
  }
  .pch_image_blog > p {
    font-size: 16px !important;
  }
  .pch_blog {
    width: 250px !important;
  }
  .pch_blog > h2 {
    font-size: 18px;
  }
  .pch_input {
    width: 230px !important;
  }
}
@media all and (max-width: 382px) {
  .pch_image_blog {
    width: 330px !important;
    margin-left: 30px !important;
  }
}
@media all and (max-width: 338px) {
  .pch_image_blog {
    width: 300px !important;
    margin-left: 20px !important;
  }
  .pch_image_blog > img {
    width: 180px;
  }
  .pch_image_blog > h1 {
    font-size: 20px !important;
  }
  .pch_image_blog > p {
    font-size: 16px !important;
  }
  .pch_blog {
    width: 200px !important;
    height: 420px !important;
  }
  .pch_blog > h2 {
    font-size: 16px;
  }
  .pch_input {
    width: 200px !important;
  }
}
