.img-skill-box > img {
  width: 90%;
  height: 680px;
  margin-left: 5%;
  border-radius: 50px;
  margin-top: 4%;
}

.skill-second-box {
  display: flex;
  padding: 5% 5%;
}

.skill-second-box > p {
  font-size: 25px;
}

.tiny-icon-box {
  margin-left: 10%;
}

.tiny-icon-things {
  display: flex;
  padding-left: 10%;
  font-size: 20px;
}

.tiny-icon-thing > p {
  margin-left: 10px;
}

.skill-li {
  display: flex;
}

.skill-li > li {
  font-size: 25px;
}

.skill-li {
  padding: 7% 5%;
}

.card-skill-box > h2 {
  font-size: 40px;
  padding-left: 6%;
}

.skill-third-box {
  display: flex;
  padding: 0% 5%;
}

.skill-third-box > h1 {
  font-size: 39px;
}

.skill-third-box > p {
  font-size: 19px;
}

.skill-end-box {
  padding-left: 2%;
  margin-left: 5%;
}

.skill-end-box > h2 {
  font-size: 36px;
}

.skill-end-box > p {
  font-size: 20px;
  margin-bottom: 6%;
}
@media all and (max-width: 995px) {
  .skill-second-box > p {
    font-size: 20px;
  }
  .skill-li > li {
    font-size: 17px;
  }
  .skill-third-box > h1 {
    font-size: 34px;
  }
  .skill-third-box > p {
    font-size: 17px;
  }
  .card-skill-box > h2 {
    font-size: 35px;
    width: 800px;
  }
  .img-skill-box > img {
    width: 800px;
    height: 580px;
  }
  .skill_end_img {
    width: 800px !important;
    height: 450px;
    margin-left: 35px;
  }
}
@media all and (max-width: 862px) {
  .img-skill-box > img {
    width: 650px;
    height: 400px;
  }
  .skill-second-box > p {
    font-size: 18px;
  }
  .tiny-icon-things {
    font-size: 16px;
  }
  .skill-li > li {
    font-size: 16px;
  }
  .skill-third-box > h1 {
    font-size: 28px;
  }
  .skill-third-box > p {
    font-size: 15px;
  }
  .card-skill-box > h2 {
    font-size: 28px;
    width: 600px;
  }
  .skill-end-box > h2 {
    font-size: 28px;
    width: 600px;
  }
  .skill-end-box > p {
    font-size: 16px;
  }

  .skill_end_img {
    width: 650px !important;
    height: 300px;
    margin-left: 35px;
  }
}
@media all and (max-width: 706px) {
  .img-skill-box > img {
    width: 500px;
    height: 300px;
  }
  .skill-second-box > p {
    font-size: 16px;
  }
  .tiny-icon-things {
    font-size: 14px;
  }
  .skill-li > li {
    font-size: 14px;
  }
  .skill-third-box > h1 {
    font-size: 20px;
  }
  .skill-third-box > p {
    font-size: 13px;
  }
  .card-skill-box > h2 {
    font-size: 23px;
    width: 500px;
  }
  .skill-end-box > h2 {
    width: 500px;
  }
  .skill_end_img {
    width: 500px !important;
    height: 250px;
    margin-left: 50px;
  }
}
@media all and (max-width: 559px) {
  .img-skill-box > img {
    width: 430px;
    height: 280px;
  }
  .skill-second-box > p {
    font-size: 14px;
  }
  .tiny-icon-things {
    font-size: 12px;
  }
  .skill-li > li {
    font-size: 12px;
  }
  .skill-third-box > h1 {
    font-size: 18px;
  }
  .skill-third-box > p {
    font-size: 11px;
  }
  .card-skill-box > h2 {
    font-size: 20px;
    width: 400px;
  }
  .skill-end-box > h2 {
    width: 400px;
  }
  .skill_end_img {
    width: 430px !important;
    height: 200px;
    margin-left: 30px;
  }
}
@media all and (max-width: 458px) {
  .img-skill-box > img {
    width: 360px;
    height: 230px;
  }
  .skill-third-box > h1 {
    font-size: 16px;
  }
  .skill-third-box > p {
    font-size: 11px;
  }
  .card-skill-box > h2 {
    font-size: 18px;
    width: 300px;
  }
  .skill-end-box > h2 {
    font-size: 25px;
    width: 300px;
  }
  .skill-end-box > p {
    font-size: 14px;
  }
  .skill_end_img {
    width: 360px !important;
    height: 180px;
    margin-left: 30px;
  }
}
@media all and (max-width: 391px) {
  .img-skill-box > img {
    width: 300px;
    height: 190px;
  }
  .skill-second-box > p {
    font-size: 12px;
  }
  .tiny-icon-things {
    font-size: 10px;
  }
  .skill-li > li {
    font-size: 10px;
  }
  .skill-third-box > h1 {
    font-size: 14px;
  }
  .card-skill-box > h2 {
    font-size: 16px;
    width: 270px;
  }
  .skill-end-box > h2 {
    font-size: 20px;
    width: 300px;
  }
  .skill-end-box > p {
    font-size: 12px;
  }
  .skill_end_img {
    width: 300px !important;
    height: 130px;
    margin-left: 10px;
  }
}
