h2 {
  transition: 0.2s ease-out;
}
h2:hover {
  margin-left: 1%;
}
.play_list {
  border-top: 2px solid;
}
.play_list:hover {
  background-color: rgb(65, 65, 248);
  color: aliceblue;
}
@media all and (max-width: 1198px) {
  .play_list {
    width: 900px;
  }
}
@media all and (max-width: 1096px) {
  .play_list {
    width: 800px;
  }
}
@media all and (max-width: 972px) {
  .play_list {
    width: 750px;
  }
  .play {
    margin-left: 70px !important;
  }
}
@media all and (max-width: 883px) {
  .play_list {
    width: 700px;
  }
}
@media all and (max-width: 814px) {
  .play_title {
    font-size: 40px !important;
  }
  .play_list {
    width: 620px;
  }
}
@media all and (max-width: 725px) {
  .play_list {
    width: 550px;
  }
  .play_list > h2 {
    font-size: 14px !important;
  }
  .play_list > h1 {
    font-size: 20px !important;
  }
  .play_list > h4 {
    font-size: 14px !important;
    margin-left: 250px !important;
  }
  .play_list > button {
    font-size: 14px !important;
  }
}
@media all and (max-width: 658px) {
  .play_list {
    width: 500px;
  }
  .play {
    margin-left: 50px !important;
  }
  .play_title {
    font-size: 35px !important;
    width: 300px;
  }
}
@media all and (max-width: 575px) {
  .play_title {
    font-size: 30px !important;
  }
  .play_list {
    width: 450px;
  }
  .play_list > h2 {
    font-size: 16px !important;
  }
  .play_list > h1 {
    font-size: 18px !important;
  }
  .play_list > h4 {
    font-size: 14px !important;
    margin-left: 150px !important;
  }
}
@media all and (max-width: 525px) {
  .play_title {
    font-size: 25px !important;
  }
  .play_list {
    width: 400px;
  }
  .play_list > h2 {
    font-size: 14px !important;
  }
  .play_list > h1 {
    font-size: 16px !important;
  }
  .play_list > h4 {
    font-size: 12px !important;
    margin-left: 100px !important;
  }
  .play_list > button {
    font-size: 12px !important;
    margin-left: 50px !important;
  }
}

@media all and (max-width: 525px) {
  .play_title {
    font-size: 20px !important;
  }
  .play_list {
    width: 350px;
  }
}
@media all and (max-width: 434px) {
  .play {
    margin-left: 30px !important;
  }
  .play_list {
    width: 320px;
  }
}
@media all and (max-width: 385px) {
  .play_list {
    width: 300px;
  }
  .play_list > h4 {
    font-size: 10px !important;
    margin-left: 50px !important;
  }
  .play_list > button {
    font-size: 10px !important;
  }
}
@media all and (max-width: 351px) {
  .play_list {
    width: 280px;
  }
  .play {
    margin-left: 20px !important;
  }
}
