#dropdown {
  justify-content: end !important;
}
.nav_btn {
  border: none !important;
}
.header_sale {
  background-color: rgb(232, 232, 41);
  width: 100%;
  height: 80px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}
.header_btn {
  width: 130px;
  height: 50px;
  margin-left: 20%;
  background-color: rgb(72, 72, 196);
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 13px;
  color: white;
}
.saleSmallImg {
  margin-right: 35%;
  margin-top: -10px;
  width: 13%;
  height: 80px;
}
.sale-header {
  font-size: 30px;
}
.btn_add {
  border: 1px solid white !important;
  width: 150px !important;
  height: 58px !important;
  margin: 5px 35px !important;
  border-radius: 5px !important;
  color: black !important;
}
.btn_add:hover {
  background-color: #5fc4e3 !important;
  color: aliceblue !important;
}
.btn_admin {
  color: rgb(109, 108, 108);
  height: 105px;
  width: 140px;
  background-color: white;
  border: 1px solid #c3c1c1;
  border-radius: 5px;
}
.btn_admin:hover {
  cursor: pointer;
}
@media all and (max-width: 1358px) {
  .navbar_text {
    font-size: 25px !important;
  }
  .header_btn {
    margin-left: 15%;
  }
}
@media all and (max-width: 1148px) {
  .appbar_title {
    font-size: 18px !important;
  }
  .header_btn {
    margin-left: 10%;
  }
}
@media all and (max-width: 926px) {
  .appbar_title {
    font-size: 16px !important;
  }
  .header_btn {
    margin-left: 5%;
  }
}
@media all and (max-width: 900px) {
  #dropdown {
    display: none;
  }
}
@media all and (max-width: 764px) {
  .appbar_title {
    font-size: 14px !important;
  }
  .saleSmallImg {
    margin-right: 20%;
  }
}
@media all and (max-width: 572px) {
  .header_btn {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
  .saleSmallImg {
    margin-right: 10%;
  }
}
@media all and (max-width: 428px) {
  .header_btn {
    width: 80px;
    height: 30px;
    font-size: 10px;
    margin-top: 17px;
    margin-left: 3%;
  }
  .appbar_title {
    font-size: 14px !important;
    text-align: center;
  }
  .saleSmallImg {
    margin-right: 5%;
  }
}
@media all and (max-width: 368px) {
  .header_btn {
    margin-left: 5%;
  }
  .appbar_title {
    font-size: 12px !important;
    text-align: center;
    height: 30px;
    margin-top: 25px;
  }
  .saleSmallImg {
    margin-right: 3%;
  }
}
