.iconLog {
  border-radius: 40px;
}
.paragraph {
  font-size: 18px;
}
.home_user_page_button:hover {
  background-color: grey !important;
}

@media all and (max-width: 1024px) {
  .toolbar {
    width: 95% !important;
  }
  .typo_skill {
    font-size: 27px !important;
  }
  .button_typa {
    font-size: 9.8px !important;
  }
  .appbar_user_page {
    margin-left: 61px !important;
  }
}
@media all and (max-width: 973px) {
  .h1_text {
    font-size: 25px !important;
  }
}
@media all and (max-width: 768px) {
  .toolbar {
    width: 100% !important;
  }
  .appbar_user_page {
    margin-left: 23px !important;
  }
  .typo_skill {
    font-size: 27px !important;
  }
  .button_typa {
    font-size: 9.8px !important;
  }
  .menu_bar {
    width: 30% !important;
  }
  .iconLog {
    width: 30px !important;
  }
  .menu {
    font-size: 14px !important;
  }
  .image_home_page {
    display: none !important;
  }
  .user_page_img_block {
    margin-left: 25px !important;
  }
  .h1_text {
    font-size: 25px !important;
  }
  .paragraph {
    font-size: 16px !important;
  }
  .home_user_page_button {
    width: 30% !important;
    height: 20% !important;
    font-size: 12px !important;
  }
  .first_para {
    font-size: 14px !important;
  }
  .second_para {
    font-size: 11px !important;
  }
}
@media (max-width: 562px) {
  .first_para {
    font-size: 12px !important;
  }
}
@media all and (max-width: 461px) {
  .toolbar {
    width: 300px !important;
  }
  .appbar_user_page {
    width: 300px !important;
  }
  .typo_skill {
    font-size: 20px !important;
  }
  .button_typa {
    height: 25px !important;
    font-size: 9px !important;
  }
  .user_page_img_block {
    width: 300px;
  }
  .h1_text {
    font-size: 20px !important;
  }
  .paragraph {
    font-size: 14px !important;
  }
  .home_user_page_button {
    width: 90px !important;
    font-size: 10px !important;
  }
  .footer_box_control {
    display: flex;
    justify-content: space-between;
  }
  .user_page_footer {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .first_para {
    width: 170px !important;
  }
  .second_para {
    width: 180px !important;
    margin-left: 20px !important;
  }
}
@media all and (max-width: 361px) {
  .toolbar {
    width: 250px !important;
  }
  .appbar_user_page {
    width: 250px !important;
  }
  .typo_skill {
    font-size: 18px !important;
  }
  .button_typa {
    height: 25px !important;
    font-size: 7px !important;
    margin-left: 3px !important;
  }
  .user_page_img_block {
    width: 250px;
    margin-left: 0px !important;
  }
  .h1_text {
    font-size: 18px !important;
  }
  .paragraph {
    font-size: 12px !important;
  }
  .home_user_page_button {
    width: 90px !important;
    font-size: 10px !important;
  }
}
@media all and (max-width: 323px) {
  .toolbar {
    width: 250px !important;
  }
  .appbar_user_page {
    width: 250px !important;
  }
}
