.main-statistics__title {
  font-size: 40px;
  width: 30%;
  margin-left: 40px;
}
.main-statistics__list {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  list-style-type: none;
}
.main-statistics__item {
  width: 40%;
  margin-left: 20px;
}
.item_title {
  font-size: 32px;
  margin: 0;
}
.item_text {
  font-size: 17px;
}
.catalog_blog_first {
  width: 500px;
  background-color: blue;
  border-radius: 30px;
  height: 200px;
}
.catalog_blog_second {
  width: 500px;
  background-color: #ffc5ba;
  border-radius: 30px;
  height: 200px;
  margin-left: 50px;
  cursor: pointer;
}
.catalog_title_first {
  font-size: 27px;
  color: #ffffff;
  margin-left: 35px;
  cursor: pointer;
}

.catalog_title_second {
  font-size: 27px;
  color: #202020;
  margin-left: 35px;
}
.catalog_btn {
  width: 40%;
  background-color: #ffffff !important;
  height: 50px;
  margin-left: 50px !important;
  color: #202020 !important;
  font-size: 17px !important;
  font-weight: bold !important;
}
.catalog_title {
  font-size: 52px;
  margin: 100px;
  margin-left: 150px;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.catalog_blog_second:hover {
  animation: bounce 1s;
}
.catalog_blog_first:hover {
  animation: bounce 1s;
}
@media all and (max-width: 1053px) {
  .catalog_blog_first {
    width: 450px;
  }
  .catalog_blog_second {
    width: 450px;
  }
  .main-statistics__title {
    font-size: 35px;
    width: 35%;
  }
}
@media all and (max-width: 955px) {
  .catalog_blog_first {
    width: 420px;
  }
  .catalog_blog_second {
    width: 420px;
  }
  .catalog_title {
    font-size: 48px;
  }
}
@media all and (max-width: 900px) {
  .catalog_blog_first {
    width: 400px;
  }
  .catalog_blog_second {
    width: 400px;
  }
  .catalog_title_first {
    font-size: 25px;
  }
  .catalog_title_second {
    font-size: 25px;
  }
  .catalog_btn {
    font-size: 15px !important;
  }
}
@media all and (max-width: 825px) {
  .list_control {
    display: flex;
    flex-direction: column !important;
  }
  .main-statistics__title {
    width: 85%;
  }
  .main-statistics__list {
    width: 90%;
  }
  .catalog_title {
    font-size: 40px;
  }
  .catalog_blog_first {
    width: 360px;
  }
  .catalog_blog_second {
    width: 360px;
  }
  .catalog_title_first {
    font-size: 23px;
    margin: 25px;
  }
}
@media all and (max-width: 721px) {
  .catalog_title {
    font-size: 35px;
  }
  .main-statistics__title {
    font-size: 32px;
  }
}
@media all and (max-width: 666px) {
  .catalog_title {
    font-size: 32px;
  }
  .catalog_blog_first {
    margin-left: 10px;
    width: 320px;
  }
  .catalog_blog_second {
    width: 320px;
  }
}
@media all and (max-width: 628px) {
  .catalog_title {
    font-size: 28px;
  }
  .main-statistics__title {
    font-size: 28px;
  }
  .main-statistics__item {
    margin: 20px;
  }
}
@media all and (max-width: 628px) {
  .catalog_title {
    font-size: 30px;
    margin: 50px;
  }
  .catalog_title_first {
    font-size: 20px;
  }
  .catalog_title_second {
    font-size: 20px;
  }
  .catalog_btn {
    width: 50%;
    font-size: 13px !important;
  }
  .main-statistics__list {
    flex-direction: column;
  }
  .main-statistics__item {
    width: 90%;
  }
}
@media all and (max-width: 480px) {
  .list_control {
    width: 110%;
  }
  .catalog {
    width: 120%;
  }
  .catalog_title_first {
    font-size: 16px;
  }
  .catalog_title_second {
    font-size: 16px;
  }
  .catalog_blog_first {
    height: 180px;
  }
  .catalog_blog_second {
    height: 180px;
  }
}
@media all and (max-width: 380px) {
  .catalog_title {
    font-size: 27px;
  }
}
@media all and (max-width: 360px) {
  .list_control {
    width: 120%;
  }
  .catalog {
    width: 143%;
  }
}
