.main-statistics__title {
  font-size: 40px;
  width: 30%;
  margin-left: 40px;
}
.main-statistics__list {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  list-style-type: none;
}
.main-statistics__item {
  width: 40%;
  margin-left: 20px;
}
.item_title {
  font-size: 32px;
  margin: 0;
}
.item_text {
  font-size: 17px;
}
.catalog_blog_first {
  width: 500px;
  background-color: blue;
  border-radius: 30px;
  height: 200px;
}
.catalog_blog_second {
  width: 500px;
  background-color: #ffc5ba;
  border-radius: 30px;
  height: 200px;
  margin-left: 50px;
  cursor: pointer;
}
.catalog_title_first {
  font-size: 27px;
  color: #ffffff;
  margin-left: 35px;
  cursor: pointer;
}

.catalog_title_second {
  font-size: 27px;
  color: #202020;
  margin-left: 35px;
}
.catalog_btn {
  width: 40%;
  background-color: #ffffff !important;
  height: 50px;
  margin-left: 50px !important;
  color: #202020 !important;
  font-size: 17px !important;
  font-weight: bold !important;
}
.catalog_title {
  font-size: 52px;
  margin: 100px;
  margin-left: 150px;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.catalog_blog_second:hover {
  animation: bounce 1s;
}
.catalog_blog_first:hover {
  animation: bounce 1s;
}
@media all and (max-width: 1000px) {
  .main-statistics__title {
    font-size: 35px !important;
  }
  .catalog_title {
    font-size: 45px;
  }
  .catalog_blog_btn {
    margin: 30px;
  }
}
@media all and (max-width: 825px) {
  .list_control {
    display: flex;
    flex-direction: column !important;
  }
  .main-statistics__title {
    text-align: center;
    width: 400px;
    margin-left: 0px;
  }
  .main-statistics__list {
    font-size: 35px !important;
    width: 490px;
  }
  .list_control {
    align-items: center;
  }
  .catalog_title_first {
    font-size: 25px !important;
  }
  .catalog_title_second {
    font-size: 25px !important;
  }
  .catalog_btn {
    font-size: 14px !important;
  }
}
@media all and (max-width: 776px) {
  .catalog_title {
    font-size: 40px;
  }
}
@media all and (max-width: 721px) {
  .catalog_title {
    font-size: 35px;
  }
  .catalog_title_first {
    font-size: 22px !important;
  }
  .catalog_title_second {
    font-size: 22px !important;
  }
}
@media all and (max-width: 662px) {
  .catalog_title {
    font-size: 30px !important;
  }
  .main-statistics__title {
    font-size: 30px !important;
  }
  .item_text {
    font-size: 14px !important;
  }
}
@media all and (max-width: 606px) {
  .catalog_title {
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .main-statistics__title {
    font-size: 25px !important;
    width: 300px;
  }
  .item_text {
    font-size: 14px !important;
  }
  .catalog_title_first {
    font-size: 20px !important;
  }
  .catalog_title_second {
    font-size: 20px !important;
  }
  .catalog_btn {
    font-size: 11px !important;
    height: 40px;
  }
  .item_title {
    font-size: 24px;
  }
}
@media all and (max-width: 545px) {
  .catalog_title {
    font-size: 25px !important;
    width: 350px;
  }
  .main-statistics__title {
    font-size: 25px !important;
  }
  .catalog_blog_first {
    height: 150px;
  }
  .catalog_blog_second {
    height: 150px;
  }
  .catalog_title_first {
    font-size: 18px !important;
  }
  .catalog_title_second {
    font-size: 18px !important;
  }
  .main-statistics__list {
    width: 400px;
  }
}
@media all and (max-width: 497px) {
  .catalog_title {
    font-size: 25px !important;
    width: 300px;
    margin-left: 90px;
  }
  .main-statistics__title {
    font-size: 22px !important;
  }
  .catalog_title_first {
    font-size: 16px !important;
    margin-left: 17px;
  }
  .catalog_title_second {
    font-size: 16px !important;
    margin-left: 17px;
  }
  .catalog_btn {
    font-size: 9px !important;
    height: 30px;
  }
  .item_text {
    font-size: 12px !important;
  }
  .item_title {
    font-size: 20px !important;
  }
  .main-statistics__list {
    margin-left: 50px;
  }
}
@media all and (max-width: 490px) {
  .main-statistics__list {
    width: 350px;
    padding: 0px;
  }
}
@media all and (max-width: 416px) {
  .catalog_title {
    font-size: 20px !important;
    margin-left: 60px;
    width: 250px;
  }
  .catalog_title_first {
    font-size: 14px !important;
  }
  .catalog_title_second {
    font-size: 14px !important;
  }
  .catalog_btn {
    font-size: 8px !important;
    margin-left: 30px !important;
  }
}
@media all and (max-width: 392px) {
  .catalog_title {
    font-size: 20px;
    margin-left: 60px;
  }
  .catalog_title_first {
    font-size: 12px !important;
  }
  .catalog_title_second {
    font-size: 12px !important;
  }
  .catalog_blog_first {
    height: 120px;
    width: 165px;
  }
  .catalog_blog_second {
    height: 120px;
    width: 165px;
  }
  .main-statistics__list {
    width: 300px;
  }
}
@media all and (max-width: 388px) {
  .main-statistics__title {
    font-size: 18px !important;
    width: 250px;
  }
  .item_text {
    font-size: 10px !important;
  }
  .item_title {
    font-size: 16px !important;
  }
  .main-statistics__list {
    width: 250px;
    margin-left: 20px;
  }
}
@media all and (max-width: 343px) {
  .catalog_title_first {
    font-size: 10px !important;
  }
  .catalog_title_second {
    font-size: 10px !important;
  }
}
